nav {
    display: inline-flex;
    justify-content: space-around;
    background-color: aliceblue;
    color: red;
    width: 100%;
    height: 70px;
    font-size: 24px;
}

nav a {
    padding: 5px 10px;
}

.left {
    display: inline-block;
    font-size: larger;
    text-align: center;
}

h1 {
    margin: auto;
}

.right {
    margin: 0 auto;
    min-width: 400px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;

}